

@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@800&display=swap');
h3 {
    font-family: Assistant;
}

.colorButtons {
    display: block;
    margin: 20px 0;
}

canvas {
    cursor: crosshair;
}

div#sidebar {
    position: absolute;
    right: 0;
    width: 100px;
    padding: 30px 5px;
    top: 0;
    background-color: white;
}

canvas#canvas {
    left: 150px;
    top: 45px;
}

.btn {
    margin-bottom: 10px;
    width: 100%;
    background-color: #74B666;
    border-color: white;
    color: white;
    font-family: Assistant;
}

input {
    width: 100%;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 10px;
}

.toolsButtons .btn {
    background-color: #E6B05F;
    border-color: white;
    color: white;
    font-family: Assistant;
    /*            width: 48%;
*/
}

.sizeButtons .btn {
    width: 48%;
}

.colorpicker {
    background: transparent;
    height: 40px;
}
